@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
  --color-primary: #250050;
  --color-over-primary: white;
  --color-secondary: #67a1ce;
  --color-over-secondary: white;
  --color-accent: #ff4c1a;

  --btn-border-radius: 24px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 10px;
}

hr {
  color: var(--color-over-primary);
}

.icons,.skills {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    user-select: none;
}

.skills {
    justify-content: flex-start;
}

i.bi {
    width: 45%;
    font-style: normal;
    font-weight: bold;
    color: var(--color-secondary);
}

i.bi span {
    color: var(--color-over-primary);
    font-size: small;
}

.card {
  background-color: var(--color-primary);
  color: var(--color-over-primary);
}

.card:hover {
    box-shadow: 0px 0 16px black;
    transition: all 200ms;
}

.card-img-overlay .overlay-components {
  background-color: rgba(0, 0, 0, 0.3);
  overflow-y: hidden;
  height: 100%;
  user-select: none;
}

.card>img {
    height: 250px;
    object-fit: cover;
}

.card-img-overlay {
    max-height: 50%;
}

.card-img-overlay .overlay-components .card-text {
  display: inline-block;
  overflow-y: auto;
  text-overflow: ellipsis;
}

.card-img-overlay .overlay-components:hover {
  transition: all 200ms;
  background-color: rgba(0, 0, 0, 0.7);
}

.btn,
.btn:hover {
  border: 2px solid var(--color-accent);
  border-radius: var(--btn-border-radius);
  color: var(--color-over-primary);
  font-weight: bold;
}

.btn:hover {
    border: 2px solid var(--color-accent);
    border-radius: var(--btn-border-radius);
    color: var(--color-over-primary);
    background-color: var(--color-accent);
    font-weight: bold;
  }

.badge {
    background-color: transparent;
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
}
